{% extends 'decided.html' %}
{% block 'body' %}
<h4>Input sequence:</h4>
{{ sequence|safe }}<br><br>
<h6>Time taken by the program: {{ eta|safe }} mins. <br>The properties of the sequence provided are:</h6>
<ul>
  <li>Number of amino acids: {{ count|safe }}</li>
  <li>Molecular weight: {{ molwt|safe }} Da</li>
  <li>Aromaticity index: {{ arom|safe }}</li>
  <li>Reduced Molar Extinction Coefficient: {{ mec|safe }}</li>
  <li>Instability Index: {{ instabdex|safe }} which means your protein is <strong>{{ inststr|safe }}</strong></li>
  <li>Isoelectric point: {{ pi|safe }}</li>
</ul>
<h4>We suggest <strong>Ab Initio Modeling</strong> as a way to model the protein given</h4>
<p>There are several tools that can be used for <i>ab initio</i> modeling, a few of them have been listed below:</p>
  <div class="row">
    <div class="col"><a href="https://zhanglab.ccmb.med.umich.edu/QUARK/">Quark</a></div>
    <div class="col"><a href="https://zhanglab.ccmb.med.umich.edu/I-TASSER/">iTasser</a></div>
  </div>
  <div class="row">
      <div class="col"><a href="http://new.robetta.org">Robetta</a></div>
      <div class="col"><a href="http://www.scfbio-iitd.res.in/bhageerath/index.jsp">Bhageerath</a></div>
  </div>
{% endblock %}
